* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3eccb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: fit-content;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #e3eccb;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    cursor: pointer;
}

button:hover {
    background-color: #d4dfb5;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}